@charset "UTF-8";

#container {
    background-color: rgb(192, 0, 0);
    display: grid;
    grid-template: repeat(4, 100px) / repeat(8, 94px);
    gap: 10px;
    
}
.caixa {
    background-color: blue;
    grid-area: 1 / 7 / 5 / 9;
    
}
footer {
    background-color: rgb(128, 0, 0);
    padding: 20px;
}